<div class="accordion-item">
    <h2 class="accordion-header" id="@("header_" + _htmlId)">
        <button class="accordion-button collapsed" type="button"
                data-bs-toggle="collapse"
                data-bs-target="@("#" + _htmlId)"
                aria-expanded="false"
                aria-controls="@_htmlId">
            @if (EndOfCentralDirectoryHeader != null)
            {
                @:End of central directory record
            }
        </button>
    </h2>
    <div id="@_htmlId" class="accordion-collapse collapse" aria-labelledby="@("header_" + _htmlId)">
        <div class="accordion-body">
            @if (EndOfCentralDirectoryHeader != null)
            {
                <table class="table table-condensed table-striped table-hover table-bordered">
                    <thead>
                        <tr class="table-light">
                            <th>Field</th>
                            <th>Raw value</th>
                            <th>Display value</th>
                            <th>Explanation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Signature</td>
                            <td>@EndOfCentralDirectoryHeader.Signature.ToHexString()</td>
                            <td></td>
                            <td>Should always be 0x06054b50</td>
                        </tr>
                        <tr>
                            <td>Number of this disk</td>
                            <td>@EndOfCentralDirectoryHeader.NumberOfThisDisk</td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td>Disk where central directory starts</td>
                            <td>@EndOfCentralDirectoryHeader.NumberOfDiskWithStartOfCentralDirectory</td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td>Total number of entries in the central directory on this disk</td>
                            <td>@EndOfCentralDirectoryHeader.NumberOfEntriesInCentralDirectoryOnThisDisk</td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td>Total number of entries in central directory</td>
                            <td>@EndOfCentralDirectoryHeader.TotalNumberOfEntriesInCentralDirectory</td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td>Size of central directory</td>
                            <td>@EndOfCentralDirectoryHeader.SizeOfCentralDirectory.ToHexString()</td>
                            <td>@EndOfCentralDirectoryHeader.SizeOfCentralDirectory</td>
                            <td>0xffffffff for ZIP64</td>
                        </tr>
                        <tr>
                            <td>Offset of start of central directory, relative to start of archive</td>
                            <td>@EndOfCentralDirectoryHeader.OffsetOfCentralDirectory.ToHexString()</td>
                            <td>@EndOfCentralDirectoryHeader.OffsetOfCentralDirectory</td>
                            <td>0xffffffff for ZIP64</td>
                        </tr>
                        <tr>
                            <td>Comment length</td>
                            <td colspan="2">@EndOfCentralDirectoryHeader.ZipFileCommentLength</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Comment</td>
                            <td colspan="3">@EndOfCentralDirectoryHeader.ZipFileComment</td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

@code {
    private string _htmlId = $"cdh-{Guid.NewGuid()}";

    [Parameter]
    public EndOfCentralDirectoryHeader? EndOfCentralDirectoryHeader { get; set; }
}
